spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/shopping_store?characterEncoding=UTF-8
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create